@import './assets/icons/material-icons.css';

@import './const.scss';
@import './shared.scss';
@import './animation.scss';

.App {
  text-align: center;
}

/* Normalize */

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Shared */
%title {
  display: flex;
  align-items: center;

  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  color: rgba(0,0,0,.54);
  margin-bottom: 20px;

  > .material-icons {
    font-size: 36px;
    margin-right: 10px;
  }
}

/* General */
.title {
  @extend %title;

  .actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .material-icons {
      @extend %action-icon;
    }
  }
}

input {
  width: 100%;
  border: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 32px;
  font-size: 16px;
  outline: 0;
  border-bottom: rgba(0,0,0,.12) 1px solid;

  transition: border-bottom-color .2s ease;

  &:focus {
    border-bottom-color: $primary;
  }

  &::placeholder {
    color: rgba(0,0,0,.38);
  }
}

.input-hint {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
  color: rgba(0,0,0,.38);
}

button {
  border: 0;
  outline: 0;
  background: $primary;

  color: white;
  font-size: 16px;
  padding: 10px 15px;

  cursor: pointer;

  border-radius: 2px;
  box-shadow: rgba(0,0,0,.3) 0 2px 6px;

  font-variant: small-caps;
  font-weight: bold;

  transition: background-color .2s ease, box-shadow .2s ease;

  &:hover {
    background-color: darken($primary, 10%);
  }

  &:disabled {
    box-shadow: none;
    background-color: lighten(grayscale($primary), 20%);
  }
}

.dialog-backdrop {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-in;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 100;

  background: rgba(0,0,0,.3);

  display: flex;
  align-items: center;
  justify-content: center;

  &.dialog-active {
    opacity: 1;
    pointer-events: all;
    transition: opacity .5s ease-out;
  }

  padding: 20px;

  .dialog {
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.3) 0 4px 12px;

    .dialog-title {
      @extend %title;

      font-size: 20px;
      color: rgba(0,0,0,.87);

      > .material-icons {
        font-size: 24px;
        margin-right: 5px;
      }
    }

    .dialog-actions {
      margin-top: 10px;
    }
  }
}
