@import './const.scss';
@import './shared.scss';

.frame {
  padding: 20px 40px;
  padding-bottom: $bottom-height + 20px;

  @media (max-width: $threshold) {
    & {
      padding: 20px 20px;
      padding-bottom: $bottom-height + 20px;
    }
  }
}

.top {
  max-width: $max-width;
  margin: 0 auto;
}

.bottom {
  position: fixed;
  height: $bottom-height;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;

  box-shadow: rgba(0,0,0,.3) 0 -2px 6px;
  box-sizing: border-box;

  padding-top: 5px;

  background: white;

  .progress {
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: lighten(grayscale($primary), 20%);

    .progress-inner {
      transition: transform .2s ease;

      background: $primary;
      height: 100%;
      width: 100%;
    }
  }

  .playing {
    display: flex;
    flex: 1;

    .artwork {
      width: 140px;
      background-size: cover;
      background-position: 50% 50%;
    }

    .info {
      width: 240px;
      box-sizing: border-box;
      overflow: hidden;
      padding: 10px 20px;
      padding-right: 0;
      margin-right: 40px;

      @media (max-width: $threshold + 100px) {
        & {
          margin-right: 0;
          width: 180px;
        }
      }

      @media (max-width: $threshold) {
        & {
          display: none;
        }
      }

      > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .playing-title {
        font-size: 18px;
        line-height: 25px;
        color: rgba(0,0,0,.87);
      }

      .playing-author {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
        color: rgba(0,0,0,.7);
      }

      .playing-list {
        font-size: 14px;
        line-height: 20px;
        color: rgba(0,0,0,.38);
      }
    }

    .control {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .material-icons {
        @extend %action-icon;
        margin: 0 5px;
        font-size: 32px;
      }

      .spacer {
        width: 20px;
      }
    }
  }

  .spanner {
    flex: 1;
  }

  .actions {
    padding: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $threshold) {
      padding: 10px;
    }

    > a {
      font-size: 0;
    }

    .material-icons {
      @extend %action-icon;
      margin-left: 0;
      margin: 2.5px 0;
    }
  }
}

/* Shared */
%splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0,0,0,.38);

  transition: color .2s ease;

  &:hover {
    color: rgba(0,0,0,.54);
  }

  .material-icons {
    font-size: 160px;
  }

  .splash-hint {
    font-size: 18px;
  }
}

/* Home */
.home {
  padding: 40px 0;

  .title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;

    > .material-icons {
      font-size: 48px;
      margin-right: 20px;
    }
  }

  .jump-input {
    margin-bottom: 40px;
  }

  .recent {
    width: 100%;
    border-left: rgba($primary, 0.5) 10px solid;
    padding: 15px 40px;
    margin-bottom: 20px;

    transition: border-left-color .2s ease;

    &:hover {
      border-left-color: $primary;
    }

    .recent-name {
      color: rgba(0,0,0,.87);
      line-height: 32px;
      font-size: 24px;
      font-weight: bold;
    }

    .recent-id {
      color: rgba(0,0,0,.38);
      line-height: 20px;
      font-size: 16px;
    }
  }
}

.home-btn {
  margin-right: 20px;
}

/* Lists */
.list {
  .list-empty {
    @extend %splash;
    height: calc(100vh - #{$bottom-height} - 40px - 60px);
    cursor: pointer;

    &.list-empty-disabled {
      cursor: default;

      &:hover {
        color: rgba(0,0,0,.38);
      }
    }
  }

  .entry {
    display: flex;

    border-radius: 4px;
    box-shadow: rgba(0,0,0,.3) 0 2px 6px;
    border-left: grayscale($primary) 5px solid;

    margin-bottom: 10px;

    transition: border-left-color .2s ease;

    overflow: hidden;

    &.active {
      border-left-color: $primary;
    }

    .entry-info {
      padding: 10px 0 10px 20px;
      min-width: 0;
      flex: 1;

      white-space: nowrap;
    }

    .entry-title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
      color: rgba(0,0,0,.87);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .entry-title-group {
      height: 35px;
      margin-bottom: 5px;

      .entry-title-hint {
        line-height: 10px;
        font-size: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0,0,0,.54);
      }

      .entry-title-main {
        line-height: 25px;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0,0,0,.87);
      }
    }

    .entry-author {
      font-size: 14px;
      color: rgba(0,0,0,.7);
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;

      display: flex;
      align-items: center;

      .material-icons {
        line-height: 20px;
        font-size: 18px;
        margin-right: 2px;
      }
    }

    .entry-hint {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0,0,0,.38);
      overflow: hidden;
      text-overflow: ellipsis;

      .entry-link-text {
        text-decoration: underline;
      }

      display: flex;
      align-items: center;

      .material-icons {
        line-height: 20px;
        font-size: 18px;
        margin-right: 2px;
      }
    }

    .entry-artwork {
      width: 140px;
      transition: filter .5s ease;
    }

    .entry-artwork-internal {
      width: 100%;
      height: 100%;

      background-size: cover;
      background-position: 50% 50%;
    }

    .entry-actions {
      padding: 10px 20px 10px 0;

      .material-icons {
        @extend %action-icon;
        display: block;
        font-size: 20px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    &.entry-not-ready {
      .entry-artwork {
        filter: grayscale(1);
      }
    }
  }
}
